.search-section {
  text-align: center;
}

.search-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-section label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.search-section select,
.search-section input {
  width: 200px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
}

.search-section button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

